<h1>Pirate</h1>
<div class ="pirate">
<h2>Name: <%= @pirate.name %></h2><br>
<h2>Weight: <%= @pirate.weight %></h2><br>
<h2>Height: <%= @pirate.height %></h2><br>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
<div class="ships">
	<h2>Name: <%= ship.name %></h2><br>
	<h2>Type: <%= ship.type %></h2><br>
	<h2>Booty: <%= ship.booty %></h2><br>
<% end %>
</div><br>